<a href="https://colab.research.google.com/github/junggangwo/pdm07/blob/main/%ED%8C%8C%EC%9D%B4%ED%8C%AC%EB%8D%94/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series (1차원)
- DataFrame (2차원 이상)

### Series
> 1차원 데이터

In [2]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you']) # np.nan: literal 
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [3]:
type(s)

pandas.core.series.Series

In [4]:
# indexing & slicing of series
s[0],s[:3],s[-1:]

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [5]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
# date_range, periods=6 -> 6일동안의 날짜 정보 인덱스 생성 (시계열 데이터)
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [6]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
# Make dataframe using an array with random numbers
# df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD')) # range index ( 0, 1, 2, ...)
df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'), index=dates) 
df

                   A         B         C         D
2021-09-27  2.161530  0.078405 -1.290961 -0.599450
2021-09-28  1.576951  0.035392 -0.825920 -0.865258
2021-09-29  1.784569 -0.369328  0.415532  0.948490
2021-09-30 -1.301939 -0.729088 -2.104155  0.715550
2021-10-01  0.348919 -0.309291  0.705225 -1.104518
2021-10-02 -0.150418  0.043138  0.209353 -0.567334

In [8]:
# check types of df  --> same type
df.dtypes         # dtypes 열 데이터의 속성 값

A    float64
B    float64
C    float64
D    float64
dtype: object

In [9]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [10]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20191129'),          # pd.Timestamp: 특정 시간 정의
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]), # pd.Categorical: 2개 이상의 기준 값을 가질때
                    'F' : 'foo' })

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2019-11-29  1.0  3   test  foo
1  1.0 2019-11-29  1.0  3  train  foo
2  1.0 2019-11-29  1.0  3   test  foo
3  1.0 2019-11-29  1.0  3  train  foo

In [12]:
# check types of df2 --> different types
df2.dtypes      # object: 문자열

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
type(df2)

pandas.core.frame.DataFrame



---