<a href="https://colab.research.google.com/github/junggangwo/pdm07/blob/main/%ED%8C%8C%EC%9D%B4%ED%8C%AC%EB%8D%94/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865

In [4]:
df.head(2) # 윗 부분 2개 (index 0, 1)

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979

In [5]:
df.tail(3) # 아래 부분 3개 (index 0, 1, 2)

                   A         B         C         D
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865
2021-10-02 -0.791727  1.700479  1.069872 -0.561316

In [6]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns    # dtype='object: string 객체

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
df.info()  # non-null: 값이 있음, 값이 비어있지 않음 (0도 값에 포함)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [9]:
# describe() shows a quick statistic summary of your data:
df.describe()         # 각 열의 통계적인 분포를 보여줌

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.211713 -0.082329  0.226988 -0.082753
std    1.368286  1.036829  0.925126  0.620042
min   -1.518768 -1.205742 -1.207697 -0.928384
25%   -0.644435 -0.786475 -0.069726 -0.514232
50%   -0.023865 -0.033098  0.103490 -0.002343
75%    1.282652  0.078037  0.848702  0.404075
max    1.969910  1.700479  1.393001  0.581865

In [10]:
df.describe().T   # 전치 행렬

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.211713  1.368286 -1.518768 -0.644435 -0.023865  1.282652  1.969910
B    6.0 -0.082329  1.036829 -1.205742 -0.786475 -0.033098  0.078037  1.700479
C    6.0  0.226988  0.925126 -1.207697 -0.069726  0.103490  0.848702  1.393001
D    6.0 -0.082753  0.620042 -0.928384 -0.514232 -0.002343  0.404075  0.581865

In [11]:
df

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865
2021-10-02 -0.791727  1.700479  1.069872 -0.561316

In [12]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -1.518768   -0.202560    0.154829    1.969910    1.658594   -0.791727
B    0.104712   -1.205742   -0.001987   -1.027230   -0.064209    1.700479
C    0.185192   -1.207697    0.021787   -0.100230    1.393001    1.069872
D   -0.928384   -0.372979    0.368293    0.416002    0.581865   -0.561316

In [13]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [14]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)  # ascending=True : default

(                   A         B         C         D
 2021-09-27 -1.518768  0.104712  0.185192 -0.928384
 2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
 2021-09-29  0.154829 -0.001987  0.021787  0.368293
 2021-09-30  1.969910 -1.027230 -0.100230  0.416002
 2021-10-01  1.658594 -0.064209  1.393001  0.581865
 2021-10-02 -0.791727  1.700479  1.069872 -0.561316,
                    A         B         C         D
 2021-10-02 -0.791727  1.700479  1.069872 -0.561316
 2021-10-01  1.658594 -0.064209  1.393001  0.581865
 2021-09-30  1.969910 -1.027230 -0.100230  0.416002
 2021-09-29  0.154829 -0.001987  0.021787  0.368293
 2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
 2021-09-27 -1.518768  0.104712  0.185192 -0.928384)

In [15]:
df,df.sort_index(axis=1, ascending=False) # axis=1 -> 열에 대한 정렬

(                   A         B         C         D
 2021-09-27 -1.518768  0.104712  0.185192 -0.928384
 2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
 2021-09-29  0.154829 -0.001987  0.021787  0.368293
 2021-09-30  1.969910 -1.027230 -0.100230  0.416002
 2021-10-01  1.658594 -0.064209  1.393001  0.581865
 2021-10-02 -0.791727  1.700479  1.069872 -0.561316,
                    D         C         B         A
 2021-09-27 -0.928384  0.185192  0.104712 -1.518768
 2021-09-28 -0.372979 -1.207697 -1.205742 -0.202560
 2021-09-29  0.368293  0.021787 -0.001987  0.154829
 2021-09-30  0.416002 -0.100230 -1.027230  1.969910
 2021-10-01  0.581865  1.393001 -0.064209  1.658594
 2021-10-02 -0.561316  1.069872  1.700479 -0.791727)

#### Sort by value
- sort_values(by='column')

In [16]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False) # by='B' -> B열에 대한 재정렬

(                   A         B         C         D
 2021-09-27 -1.518768  0.104712  0.185192 -0.928384
 2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
 2021-09-29  0.154829 -0.001987  0.021787  0.368293
 2021-09-30  1.969910 -1.027230 -0.100230  0.416002
 2021-10-01  1.658594 -0.064209  1.393001  0.581865
 2021-10-02 -0.791727  1.700479  1.069872 -0.561316,
                    A         B         C         D
 2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
 2021-09-30  1.969910 -1.027230 -0.100230  0.416002
 2021-10-01  1.658594 -0.064209  1.393001  0.581865
 2021-09-29  0.154829 -0.001987  0.021787  0.368293
 2021-09-27 -1.518768  0.104712  0.185192 -0.928384
 2021-10-02 -0.791727  1.700479  1.069872 -0.561316)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [17]:
# Selecting a single column, which yields a Series
df['A'] # A열 인덱스와 데이터 값

2021-09-27   -1.518768
2021-09-28   -0.202560
2021-09-29    0.154829
2021-09-30    1.969910
2021-10-01    1.658594
2021-10-02   -0.791727
Freq: D, Name: A, dtype: float64

In [18]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293

In [19]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [20]:
df['20210927':'20211001'] # 숫자 인덱스가 아닌, 값을 이용한 슬라이싱은 마지막 범위도 포함된다.

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865

#### Selecting data by label [중요!!]

> **loc, iloc**

In [21]:
df

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865
2021-10-02 -0.791727  1.700479  1.069872 -0.561316

In [22]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [23]:
df.loc[dates[0]]   # loc()

A   -1.518768
B    0.104712
C    0.185192
D   -0.928384
Name: 2021-09-27 00:00:00, dtype: float64

In [24]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -1.518768  0.104712
2021-09-28 -0.202560 -1.205742
2021-09-29  0.154829 -0.001987
2021-09-30  1.969910 -1.027230
2021-10-01  1.658594 -0.064209
2021-10-02 -0.791727  1.700479

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [25]:
# df.loc[0:2,['C','D']] # ㅣoc()에는 정수 인덱스 사용 x -> TypeError: cannot do slice indexing on DatetimeIndex with these indexers [0] of type int
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27  0.185192 -0.928384
2021-09-28 -1.207697 -0.372979

#### Selecting data by position (iloc())
- index 사용

In [26]:
df

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865
2021-10-02 -0.791727  1.700479  1.069872 -0.561316

In [27]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    1.969910
B   -1.027230
C   -0.100230
D    0.416002
Name: 2021-09-30 00:00:00, dtype: float64

In [28]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27  0.185192 -0.928384
2021-09-28 -1.207697 -0.372979

In [29]:
# Select one item
df.iloc[1,1]

-1.205742075093979

In [30]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:] # range index -> iloc

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293

#### Selecting data by Boolean indexing

In [31]:
df

                   A         B         C         D
2021-09-27 -1.518768  0.104712  0.185192 -0.928384
2021-09-28 -0.202560 -1.205742 -1.207697 -0.372979
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865
2021-10-02 -0.791727  1.700479  1.069872 -0.561316

- Boolean output

In [32]:
df.A > 0

2021-09-27    False
2021-09-28    False
2021-09-29     True
2021-09-30     True
2021-10-01     True
2021-10-02    False
Freq: D, Name: A, dtype: bool

In [33]:
df > 0

                A      B      C      D
2021-09-27  False   True   True  False
2021-09-28  False  False  False  False
2021-09-29   True  False   True   True
2021-09-30   True  False  False   True
2021-10-01   True  False   True   True
2021-10-02  False   True   True  False

In [34]:
df[df.A > 0]

                   A         B         C         D
2021-09-29  0.154829 -0.001987  0.021787  0.368293
2021-09-30  1.969910 -1.027230 -0.100230  0.416002
2021-10-01  1.658594 -0.064209  1.393001  0.581865

In [35]:
df[df > 0] # 0보다 작으면 NaN (missing value)

                   A         B         C         D
2021-09-27       NaN  0.104712  0.185192       NaN
2021-09-28       NaN       NaN       NaN       NaN
2021-09-29  0.154829       NaN  0.021787  0.368293
2021-09-30  1.969910       NaN       NaN  0.416002
2021-10-01  1.658594       NaN  1.393001  0.581865
2021-10-02       NaN  1.700479  1.069872       NaN