<a href="https://colab.research.google.com/github/junggangwo/pdm07/blob/main/numpy/numpy_2_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy array

- 생성
- 구조 살펴보기
- 수학연산 (columnwise, rowwise)

In [1]:
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data) # 리스트를 넘파이 배열로 변형해주기
# summarize the array content
print(data)
# summarize the array shape
print(data.shape)  # AttributeError: 'list' object has no attribute 'shape' (data list는 2차원, list는 shape객체가 없음, ) --> asarray 매개변수 넣어주기

[[1 2 3]
 [4 5 6]]
(2, 3)

## Print rows

In [2]:
# enumerate rows in a numpy array
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# data.shape # Error!
# convert to a numpy array
data = asarray(data)
# step through rows
for row in range(data.shape[]): # SyntaxError: invalid syntax
	print(data[])

SyntaxError: ignored

In [ ]:
for row in range(data.shape[0]): 
	print(data[row])

In [ ]:
data.shape # tuple
data.shape, data.shape[0], data.shape[1] # 2행 3열

## Print columns

In [ ]:
# enumerate rows in a numpy array
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
print(data)
# step through columns
for col in range(data.shape[]):  # SyntaxError: invalid syntax
	print(data[])

In [ ]:
data

In [ ]:
for col in range(data.shape[1]): 
	print(data[:,col])

---

## NumPy Array Operations By Row and Column
- axis=None: Apply operation array-wise.
- axis=0: Apply operation column-wise, across all rows for each column.
- axis=1: Apply operation row-wise, across all columns for each row.

In [ ]:
# sum values array-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by array
result = data.sum(axis=1)  # sum() 배열 모든 항목들의 합, (axis=None: default, axis=0: column-wise, axis=1: row-wise)
# summarize the result
print(result)

### Axis=0 Column-Wise Operation (수직으로)

In [ ]:
# sum values column-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by column
result = data.sum()
# summarize the result
print(result)

### Axis=1 Row-Wise Operation (수평으로)

In [ ]:
# sum values row-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by row
result = data.sum()
# summarize the result
print(result)

---

## [Challenge]
- 3d-array
    * axis = 0
    * axis = 1
    * axis = 2
    * axis = (0,1)

## [DIY: 도전하기]

- 3차원 배열을 리스트로부터 만드시오.
- [참고: numpy_sum_axis](http://taewan.kim/post/numpy_sum_axis/)

In [ ]:
# Make 3d-array in numpy
data = [[1,2,3], [4,5,6]]
data = asarray(data)
print(data)

In [ ]:
# 3차원 리스트 만들고 asarray로 배열